@charset "utf-8";
.brandStory {
  padding: 160px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.bs_img {
  width: 15%;
  max-width: 210px;
  min-width: 120px;
  /* background-color: antiquewhite; */
}
.bs_img > img {
  width: 100%;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.bs_txt {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.bs_txt > h3 {
  font-size: clamp(15px, 3vw, 30px);
}
.bs_txt > p {
  color: #777;
  font-size: clamp(11px, 2vw, 16px);
}
.bsBtn{
  padding: 2% 4%;
  border: 1px solid #777;
  border-radius: 30px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(12px , 2vw , 18px);
}
/* 반응형 */
@media all and (max-width: 768px) {
  .brandStory {
    padding: 90px 50px;
    flex-direction: column;
    gap: 30px;
  }
  .contents {
    gap: 20px;
    text-align: center;
    align-items: center;
  }
  .bsBtn{
    width: 45%;
  }
}
@media all and (max-width: 390px) {
  .brandStory {
    padding: 60px 30px;
    flex-direction: column;
    gap: 30px;
  }
  .contents {
    gap: 10px;
    align-items: center;
  }
  .bs_img {
    margin-top: 40px;
  }
  .bs_txt {
    text-align: center;
  }
}
