@charset "utf-8";
.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
}
.h_bg {
  position: absolute;
  background-color: #ffffff;
  top: 112px;
  left: 0;
  width: 100%;
  height: 0px;
  transition: all 0.5s;
}
.h_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 112px;
  /* background-color: aliceblue; */
}
.h_logo {
  width: 105px;
}
.h_logo > img {
  width: 100%;
  display: block;
}
.gnb {
  width: 70%;
  /* background-color: antiquewhite; */
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.menu > li {
  position: relative;
  width: calc(100% / 5);
}
.menu > li > a {
  font-size: 20px;
  width: 100%;
  line-height: 112px;
}
.depth2 {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.depth2 > li {
  padding: 10px 0;
}
/* hover */
.menu > li:hover > a {
  color: red;
}
.menu:hover .depth2 {
  opacity: 1;
  visibility: visible;
}
.depth2 > li > a:hover {
  color: red;
  font-weight: bold;
}
/* 모바일용 햄버거 */
.hamburger {
  display: none;
}
.hamburger > span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  margin: 5px 0;
}
.hamburger:hover {
  cursor: pointer;
}
/* 모바일 메뉴 */
.mobile_menu {
  position: absolute;
  top: 0;
  right: 100vw;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 0 5%;
  background-color: #ffffff;
  transition: all 0.5s;
}
.mobile_menu.active {
  right: 0;
}
.m_logo {
  padding: 30.5px 0;
}
.m_logo > a {
  width: 105px;
  display: block;
}
.m_logo > a > img {
  width: 100%;
}
.m_menu_list > li {
  padding: 12px 0;
}
.m_menu_list > li > a {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  display: block;
}
.m_menu_list > li > a:hover + .depth3 {
  display: block;
}
.more_btn {
  font-size: 14px;
  color: #777;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: all 0.3s;
}
.depth3 {
  margin-top: 5px;
  display: none;
  transition: all 0.3s;
}
.depth3 > li {
  padding: 6px 0;
}
.depth3 > li > a {
  font-size: 14px;
  color: #777;
}
.x_icon {
  position: absolute;
  top: 54px;
  right: 6%;
}
.x_icon:hover {
  cursor: pointer;
}
.x_icon > span {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
  display: block;
}
.x_icon > span:nth-child(1) {
  transform: rotate(45deg) translateY(2px);
}
.x_icon > span:nth-child(2) {
  transform: rotate(-45deg) translateY(-3px);
}
/* 반응형 */
@media all and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .gnb {
    display: none;
  }
}
