@charset "utf-8";
.lower_banner {
  background: url(../images/imgi_14_sub_bg01_n.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: clamp(280px, 40vh, 420px);
}
.lB_inner {
  color: #fff;
  padding: 90px 0;
}
.lB_inner > h2 {
  font-size: clamp(30px, 5vw, 50px);
  font-family: "Lexend", sans-serif;
  margin-bottom: 20px;
}
.lB_inner > p {
  font-size: clamp(12px, 2vw, 18px);
  line-height: clamp(19px, 3.5vw, 30px);
}

@media all and (max-width: 768px) {
  .lower_banner {
    background-position: -200px 0;
  }
  .lB_inner {
    padding: 55px 0;
  }
}
