@charset "utf-8";
.lower_banner {
  background-color: antiquewhite;
  position: relative;
}
.lower_banner .inner {
  position: relative;
}
.lB_imgs > .lB_img1 {
  display: block;
  width: 100%;
  height: 30vw;
}
.lB_imgs > .lB_img2 {
  display: none;
  width: 100%;
  height: 50vw;
}
.lB_imgs > .lB_img3 {
  display: none;
  width: 100%;
}
.lB_inner {
  position: absolute;
  bottom: clamp(100px, 11vw, 400px);
  color: #fff;
}
.lB_inner > h2 {
  font-size: clamp(30px, 5vw, 50px);
  font-family: "Lexend", sans-serif;
  margin-bottom: 20px;
}
.lB_inner > p {
  font-size: clamp(12px, 2vw, 18px);
  line-height: clamp(19px, 3.5vw, 30px);
}

/* 반응형 */

@media all and (max-width: 1200px) {
  .lB_imgs > .lB_img1 {
    height: 50vw;
  }
}
@media all and (max-width: 768px) {
  .lB_imgs > .lB_img1 {
    display: none;
  }
  .lB_imgs > .lB_img2 {
    display: block;
  }
  .lB_inner {
    padding-top: 40px;
    left: 5%;
  }
}
@media all and (max-width: 390px) {
  .lB_imgs > .lB_img2 {
    display: none;
  }
  .lB_imgs > .lB_img3 {
    display: block;
  }
  .lB_inner {
    left: 8%;
  }
}
