@charset "utf-8";
/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* css import */
@import url("header.css");
@import url("visual.css");
@import url("brandStory.css");
@import url("menu_infor.css");
@import url("news.css");
@import url("lower_banner.css");
@import url("footer.css");
@import url("event_01.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #201112;
}
body {
  font-family: "Noto Sans", sans-serif;
  color: #201112;
}
/* 공통영역 */
.wrap {
  position: relative;
  width: 100%;
  padding-top: 1px;
}
.inner {
  width: 90%;
  max-width: 1400px;
  min-width: 290px;
  margin: auto;
}
/* gotop 버튼 */
#goTop {
  position: fixed;
  bottom: 4%;
  right: 5%;
  z-index: 9999;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  border: 1px solid #fff;
  background-color: #65bead;
  color: #fff;
  cursor: pointer;
}
