@charset "utf-8";
.menu_infor {
  background-color: #d52517;
}
.infor_inner {
  padding: 160px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.infor_inner > h2 {
  font-size: clamp(30px, 6vw, 60px);
  color: #fff;
  font-family: "Lexend", sans-serif;
}
.menu_bar {
  width: 455px;
  max-width: 455px;
  min-width: 300px;
  margin: 25px 0 50px;
}
.menu_bar > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu_bar > ul > li {
  width: calc(100% / 3);
  max-width: 125px;
  min-width: 94px;
  line-height: 50px;
  border-radius: 25px;
}
.menu_bar > ul > li > a {
  color: #fff;
  font-size: clamp(14px, 2vw, 18px);
}
.menu_bar > ul > li:first-child {
  background-color: #ac130c;
  font-weight: bold;
}
.menuSwiper {
  width: 100%;
}
.menuSwiper .swiper-wrapper {
  width: 100%;
}
.menuSwiper .swiper-wrapper .swiper-slide {
  width: 100%;
}
.menuSwiper .swiper-wrapper .swiper-slide a {
  display: block;
  background-color: #fff;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.menu_img > img {
  width: 100%;
  display: block;
}
.menuName {
  padding: 3% 0;
  font-size: clamp(14px, 2vw, 18px);
}
.menumoreBtn {
  margin-top: 5%;
  padding: 1% 2%;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 40px;
  width: 16.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(12px, 2vw, 18px);
}
/* hover */
.menu_bar > ul > li:hover {
  cursor: pointer;
}
/* 반응형 */
@media all and (max-width: 768px) {
  .infor_inner {
    padding: 100px 0;
  }
  .menu_bar {
    width: 360px;
    margin: 15px 0 40px;
  }
  .menumoreBtn {
    width: 31%;
    padding: 1.5% 2.5%;
  }
}

@media all and (max-width: 390px) {
  .infor_inner {
    padding: 60px 0;
  }
  .menu_bar {
    width: 300px;
    margin: 15px 0 20px;
  }
  .menu_bar > ul > li {
    line-height: 30px;
  }
}
