@charset "utf-8";
.news_inner {
  padding: 160px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.news_inner > h2 {
  font-size: clamp(30px, 6vw, 60px);
  font-family: "Lexend", sans-serif;
}
.news_bar {
  width: 455px;
  max-width: 455px;
  min-width: 300px;
  margin: 25px 0 50px;
}
.news_bar > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.news_bar > ul > li {
  width: calc(100% / 3);
  max-width: 125px;
  line-height: 50px;
  border-radius: 25px;
}
.news_bar > ul > li > a {
  color: #777;
  font-size: clamp(14px, 2vw, 18px);
}
.news_bar > ul > li:first-child {
  background-color: #d52517;
}
.news_bar > ul > li:first-child a {
  font-weight: bold;
  color: #fff;
}
.newsSwiper {
  width: 100%;
}
.newsSwiper .swiper-wrapper {
  width: 100%;
}
.newsSwiper .swiper-wrapper .swiper-slide {
  width: 100%;
}
.newsSwiper .swiper-wrapper .swiper-slide a {
  display: block;
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  margin: 5px 0;
}
.menu_img > img {
  width: 100%;
  display: block;
}
.news_img {
  overflow: hidden;
}
.news_img > img {
  display: block;
  width: 100%;
}
.news_txt {
  padding: 5%;
  text-align: left;
}
.news_title {
  font-size: clamp(14px, 2vw, 19px);
  font-weight: bold;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news_date {
  color: #777;
  font-size: clamp(12px, 1.5vw, 14px);
}

/* 반응형 */
@media all and (max-width: 768px) {
  .news_inner {
    padding: 100px 0;
  }
  .news_bar {
    margin: 15px 0 40px;
  }
  .news_title {
    margin-bottom: 9px;
  }
}

@media all and (max-width: 390px) {
  .news_inner {
    padding: 60px 0;
  }
  .news_bar {
    width: 300px;
    margin: 15px 0 20px;
  }

  .news_bar > ul > li {
    line-height: 30px;
  }
}
