@charset "utf-8";
.visualSwiper {
  width: 100%;
  margin-top: 80px;
}
.visualSwiper .swiper-wrapper .swiper-slide .webbanner {
  width: 100%;
  display: block;
}
.visualSwiper .swiper-wrapper .swiper-slide .mobilebanner {
  width: 100%;
  display: none;
}

/* 반응형 */
@media (max-width: 768px) {
  .visualSwiper .swiper-wrapper .swiper-slide .webbanner {
    display: none;
  }
  .visualSwiper .swiper-wrapper .swiper-slide .mobilebanner {
    display: block;
  }
}
